{% load static %}
<!-- App Settings FAB -->
<div id="app-settings">
        <app-settings layout-active="app" :layout-location="{'app': 'index.html' }" sidebar-type="light" sidebar-variant="bg-body">
        </app-settings>
    </div>
    <!-- Modal -->
    

    <!-- jQuery -->
    <script src="{% static 'brands/assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'brands/assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'brands/assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Perfect Scrollbar -->
    <script src="{% static 'brands/assets/vendor/perfect-scrollbar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'brands/assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'brands/assets/vendor/material-design-kit.js' %}"></script>

    <!-- Fix Footer -->
    <script src="{% static 'brands/assets/vendor/fix-footer.js' %}"></script>

    <!-- Chart.js -->
    <script src="{% static 'brands/assets/vendor/Chart.min.js' %}"></script>

    <!-- App JS -->
    <script src="{% static 'brands/assets/js/app.js' %}"></script>

    <!-- Highlight.js -->
    <script src="{% static 'brands/assets/js/hljs.js' %}"></script>


    <!-- Global Settings -->
    <script src="{% static 'brands/assets/js/settings.js' %}"></script>

    <!-- Dropzone -->
    <script src="{% static 'brands/assets/vendor/dropzone.min.js' %}"></script>
    <script src="{% static 'brands/assets/js/dropzone.js' %}"></script>

    <!-- Flatpickr -->
    <script src="{% static 'brands/assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'brands/assets/js/flatpickr.js' %}"></script>

    <!-- Moment.js -->
    <script src="{% static 'brands/assets/vendor/moment.min.js' %}"></script>
    <script src="{% static 'brands/assets/vendor/moment-range.min.js' %}"></script>

    <!-- Chart.js -->
    <script src="{% static 'brands/assets/vendor/Chart.min.js' %}"></script>
    <script src="{% static 'brands/assets/js/chartjs.js' %}"></script>

    <!-- Chart.js Samples -->
    <script src="{% static 'brands/assets/js/page.analytics-dashboard.js' %}"></script>

    <!-- Vector Maps -->
    <script src="{% static 'brands/assets/vendor/jqvmap/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'brands/assets/vendor/jqvmap/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'brands/assets/js/vector-maps.js' %}"></script>

    <!-- List.js -->
    <script src="{% static 'brands/assets/vendor/list.min.js' %}"></script>
    <script src="{% static 'brands/assets/js/list.js' %}"></script>

    <!-- Tables -->
    <script src="{% static 'brands/assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'brands/assets/js/check-selected-row.js' %}"></script>

      <!-- Select2 -->
      <script src="{% static 'brands/assets/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'brands/assets/js/select2.js' %}"></script>


    <!-- App Settings (safe to remove) -->
    <!-- <script src="{% static 'brands/assets/js/app-settings.js' %}"></script>  -->